* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin-top: 0;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.pd--sm {
  padding: 12px;
}

.pd--normale {
  padding: 16px;
}

.pd--md {
  padding: 24px;
}

.pd--lg {
  padding: 38px;
}

.pd--xl {
  padding: 48px;
}

.pd--xxl {
  padding: 160px;
}

.pd-top-sm {
  padding-top: 12px;
}

.pd-top-normale {
  padding-top: 16px;
}

.pd-top-md {
  padding-top: 24px;
}

.pd-top-lg {
  padding-top: 38px;
}

.pd-top-xl {
  padding-top: 48px;
}

.pd-top-xxl {
  padding-top: 160px;
}

.pd-bottom-sm {
  padding-bottom: 12px;
}

.pd-bottom-normale {
  padding-bottom: 16px;
}

.pd-bottom-md {
  padding-bottom: 24px;
}

.pd-bottom-lg {
  padding-bottom: 38px;
}

.pd-bottom-xl {
  padding-bottom: 48px;
}

.pd-bottom-xxl {
  padding-bottom: 160px;
}

.pd-right-sm {
  padding-right: 12px;
}

.pd-right-normale {
  padding-right: 16px;
}

.pd-right-md {
  padding-right: 24px;
}

.pd-right-lg {
  padding-right: 38px;
}

.pd-right-xl {
  padding-right: 48px;
}

.pd-right-xxl {
  padding-right: 160px;
}

.pd-left-sm {
  padding-left: 12px;
}

.pd-left-normale {
  padding-left: 16px;
}

.pd-left-md {
  padding-left: 24px;
}

.pd-left-lg {
  padding-left: 38px;
}

.pd-left-xl {
  padding-left: 48px;
}

.pd-left-xxl {
  padding-left: 160px;
}

.pd-block-sm {
  padding-block: 12px;
}

.pd-block-normale {
  padding-block: 16px;
}

.pd-block-md {
  padding-block: 24px;
}

.pd-block-lg {
  padding-block: 38px;
}

.pd-block-xl {
  padding-block: 48px;
}

.pd-block-xxl {
  padding-block: 160px;
}

.pd-inline-sm {
  padding-inline: 12px;
}

.pd-inline-normale {
  padding-inline: 16px;
}

.pd-inline-md {
  padding-inline: 24px;
}

.pd-inline-lg {
  padding-inline: 38px;
}

.pd-inline-xl {
  padding-inline: 48px;
}

.pd-inline-xxl {
  padding-inline: 160px;
}

.pd--sm {
  margin: 12px;
}

.pd--normale {
  margin: 16px;
}

.pd--md {
  margin: 24px;
}

.pd--lg {
  margin: 38px;
}

.pd--xl {
  margin: 48px;
}

.pd--xxl {
  margin: 160px;
}

.pd-top-sm {
  margin-top: 12px;
}

.pd-top-normale {
  margin-top: 16px;
}

.pd-top-md {
  margin-top: 24px;
}

.pd-top-lg {
  margin-top: 38px;
}

.pd-top-xl {
  margin-top: 48px;
}

.pd-top-xxl {
  margin-top: 160px;
}

.pd-bottom-sm {
  margin-bottom: 12px;
}

.pd-bottom-normale {
  margin-bottom: 16px;
}

.pd-bottom-md {
  margin-bottom: 24px;
}

.pd-bottom-lg {
  margin-bottom: 38px;
}

.pd-bottom-xl {
  margin-bottom: 48px;
}

.pd-bottom-xxl {
  margin-bottom: 160px;
}

.pd-right-sm {
  margin-right: 12px;
}

.pd-right-normale {
  margin-right: 16px;
}

.pd-right-md {
  margin-right: 24px;
}

.pd-right-lg {
  margin-right: 38px;
}

.pd-right-xl {
  margin-right: 48px;
}

.pd-right-xxl {
  margin-right: 160px;
}

.pd-left-sm {
  margin-left: 12px;
}

.pd-left-normale {
  margin-left: 16px;
}

.pd-left-md {
  margin-left: 24px;
}

.pd-left-lg {
  margin-left: 38px;
}

.pd-left-xl {
  margin-left: 48px;
}

.pd-left-xxl {
  margin-left: 160px;
}

.pd-block-sm {
  margin-block: 12px;
}

.pd-block-normale {
  margin-block: 16px;
}

.pd-block-md {
  margin-block: 24px;
}

.pd-block-lg {
  margin-block: 38px;
}

.pd-block-xl {
  margin-block: 48px;
}

.pd-block-xxl {
  margin-block: 160px;
}

.pd-inline-sm {
  margin-inline: 12px;
}

.pd-inline-normale {
  margin-inline: 16px;
}

.pd-inline-md {
  margin-inline: 24px;
}

.pd-inline-lg {
  margin-inline: 38px;
}

.pd-inline-xl {
  margin-inline: 48px;
}

.pd-inline-xxl {
  margin-inline: 160px;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 20px;
  margin: 3px;
  transition: transform 0.1s;
}

.btn-primary {
  background-color: #0e6cff;
  color: #f4f4f4;
}
.btn-primary:hover {
  background-color: #287cff;
  transform: scale(1.02);
}

.btn-secondary {
  background-color: #ff8700;
  color: #f4f4f4;
}
.btn-secondary:hover {
  background-color: #ff931a;
  transform: scale(1.02);
}

.btn-tertiary {
  background-color: #4caf50;
  color: #f4f4f4;
}
.btn-tertiary:hover {
  background-color: #5cb860;
  transform: scale(1.02);
}/*# sourceMappingURL=style.css.map */